.slot-input {
    width: 55px;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #293953;
    background-color: white;

    color: black;
    font-size: 1rem;
    /*left: -557px;*/
}

.slot-input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.slot-input:focus {
    outline: none ;
    box-shadow: none;
}
