.reel.col {
    width: 72px;
    overflow: hidden;
    background: linear-gradient(#111827, #1f2937);
    border: 2px solid #293953;
    border-radius: 10px;
    box-shadow: inset 0 -6px 12px rgba(0,0,0,0.6);
    position: relative;
     height: clamp(120px, 22vw, 155px);
     min-height: 163px;
}

.symbols {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    will-change: transform; /* Forbedrer animation performance */
    
}

.symbol {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    line-height: 1;
    width: 100%;
    color: #fff;
}

.symbol.final {
    width: 100%;
}

.symbol-diamond {
  color: #00fffb; /* rød */
}

.symbol-clover {
  color: #07f43e; /* grøn */
}

.symbol-nine {
  color: #ff4de1; /* blå */
  
}

.symbol-coin {
  color: #fbde03; /* guld */
}

.icon {
  width: 40px;
  height: 40px;
}

.symbol-nine   svg { width: 45px; height: 45px; }