.slot-machine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;   
}


.slot-machine.big {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    
    background: #0f172a url("../Images/image1.jpg") center/100% 100% no-repeat;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    padding: 2rem;
    color: #fff;
    text-align: left;
}


.slot-game-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.grid {
    order: 1;
    display: flex;
    flex-wrap: nowrap;
    
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    padding-left: 5%;
    
    margin-top: 10px;
}


.info {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    gap: 10px;
    width: 40%;
    padding-left: 5%;
    
    margin-top: 10px;
    font-weight: bold;

}
.info-container{

    align-items: center;
    margin-right: 50px;
    gap:10px;
    display: flex;
    flex-direction: row;
}

.message {
    order: 3;
    
    align-self: flex-start;
    
    margin-top: 10px;
    
    font-size: 15px;
    color: #f9f9f9;
    font-weight: bold;
    bottom: 4rem;
    pointer-events: none;
    
}


@media (max-width: 600px){

    .slot-game-input-container{
        flex-direction: row;
    }
    .grid{
        margin-top: 50px;
        width: 50%;
    }
    .info-container{
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }
    .info{
        flex-direction: column;
        padding-left: 0%!important;
        margin-left: 20px;

    }
    .bet{
        margin-left: 0px;
        margin-top: 0px !important;
    }
    .slot-rules{
        width: 250px;
        margin-left: 0% !important;
        width: 300px;
    }
    .slot-rules i{
        font-size: 15px;
    }
    .message{
        font-size: 8px;
        width: 102px;
        margin-right: 10px;
       
        
    }


}



.balance-label {
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 4px;
    padding-top: 12px;
    font-weight: bold;
    
}

.balance-amount {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    height: 30px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    
}

.positiv{
    background-color: #54af40;
}

.negativ{
    background-color: tomato;
}

.bet {
    font-weight: 600px; 
    color: #ffffff;
    margin-bottom: 4px;
    align-items: center;
    margin-top: 14px;
    padding-top: 23px;

}

 .slot-rules {
    order: 4;

    text-align: center;
    color: white;
    font-size: 1rem;
    margin-left: 30%;


    
}

