.CoinFlipGamePage-container, .CrashGamePage-container, .SlotsGamePage-container{
    width: 100%;           
    min-height: 100vh;
    display: flex;       
    flex-direction: column;
    /* overflow: hidden;   */
    justify-content: space-between;
    box-sizing: border-box;
    
}

.CoinFlipGamePage-game{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.CrashGamePage-game
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
}