.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black solid;
    background-color: blueviolet;
    height: 100px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    margin-right: 20px;
}



.header-balance{
    margin-top: 20px;
    margin-right: 20px;
}


.header-deposit {
    margin-top: 25px;
    margin-right: 20px;
    width: 200px;

}
