.Page-container{
    width: 100%;           
    min-height: 100vh;
    display: flex;       
    flex-direction: column;
    /* overflow: hidden;   */
    justify-content: space-between;
    box-sizing: border-box;
}

/**********GamePage***********/
.Homepage-games{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

/* gør all iconer fylder 30% af den skærm de befinder sig på men aldrig mere end 200px og sørger for billederne ikke stretcher */
.Homepage-games > * {
  width: 30vw;
  max-width: 200px;
  height: auto;
  margin: 10px;
}

@media (max-width: 600px){
    .Homepage-games{
    flex-direction: column;
    align-items: center;
        width: 100%;
    }
}

/**********Coinflip***********/
.CoinFlipGamePage-game{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.CrashGamePage-game
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
}


/**********Setting***********/
.Settingspage-btns-container{
 display: flex;
 flex-direction: column; 
 align-items: center;
gap: 10px;
   
}

.Settingspage-btns-container button{
width: 200px;
height: 50px;;

   
}

.Settingspage-container h1{
    color: white;

}

.logout-btn:hover{
    background-color: tomato;
}

#settingName {
    margin-bottom: 20px;
}
