.Page-container{
    width: 100%;           
    min-height: 100vh;
    display: flex;       
    flex-direction: column;

    justify-content: space-between;
    box-sizing: border-box;
}

.Homepage-games{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

.Homepage-games > * {
  width: 30vw;
  max-width: 200px;
  height: auto;
  margin: 10px;
}

@media (max-width: 600px){
    .Homepage-games{
    flex-direction: column;
    align-items: center;
        width: 100%;
    }
}

.CoinFlipGamePage-game{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.CrashGamePage-game
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
}


.Settingspage-btns-container{
 display: flex;
 flex-direction: column; 
 align-items: center;
gap: 10px;
   
}

.Settingspage-btns-container button{
width: 200px;
height: 50px;;
}

.limit-btn:hover{
    background-color:rgb(37, 99, 235);
}

.history-btn:hover{
    background-color:rgb(177, 193, 227);
}

.Settingspage-container h1{
    color: white;

}

.logout-btn:hover{
    background-color: tomato;
}

.delete-btn:hover{
background-color: rgb(255, 38, 0);
}

#settingName {
    margin-bottom: 20px;
}



