.rootOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;


    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}


.Deposit-container {
    display: flex;

    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 50px;
    border-radius: 20px;
    background-color: #1e293b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);

}

.DepositInput {
    border-radius: 15px;
    height: 40px;
    width: 150px;
    text-align: center;
    border: transparent;
    background-color: #2b3a54;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.ResetButton {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: transparent;
    font-weight: bold;
    color: white;
    background-color: #2b3a54;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}




.Settingspage-limit-popup {
    display: flex;

    flex-direction: column;
    gap: 10px;
    z-index: 2;

}

.Limit-container {
    display: flex;

    flex-direction: column;
    width: 100%;
    margin-top: 150px;
    align-items: center;
    gap: 10px;
    padding: 50px;
    border-radius: 20px;
    background-color: #1e293b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}


.LimitInput {
    border-radius: 15px;
    height: 40px;
    width: 150px;
    text-align: center;
    border: transparent;
    background-color: #2b3a54;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


.setLimit-btn {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: transparent;
    font-weight: bold;
    color: white;
    background-color: #2b3a54;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.setLimit-btn:hover {
    background-color: #5159ed;
}

.LimitInput::placeholder {
    color: #ffffff;
    font-style: italic;
}


.rootOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;


    display: flex;
    justify-content: center;
    align-items: center;
}

.Settingspage-history-popup {

    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    max-height: 80vh;
    width: 400px;


}

.History-container {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* gap: 10px; */
    /* padding: 20px; */
    background-color: #1e293b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    max-height: 100%;

    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}


.history-list {
    width: 100%;
    max-height: 400px;
    /* flex-direction: row; */
    overflow-y: auto;

    padding: 0 10px;
    box-sizing: border-box;
}

.transaction {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #2b3a54;
    box-sizing: border-box;
}

.transaction h2 {
    width: 140px;
}

.transaction p {
    width: 50px;
    text-align: right; 
}

.transaction h3 {
    width: 50px; 
    text-align: left;
}

.picker-select {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    /* margin-right: 200px; */
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;         

    
}
.picker-select option {
    font-weight: bold;
    color: white;
}
.picker-select:focus {
    color: white;
}


.deposit {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start;
    gap: 125px;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #2b3a54;
    box-sizing: border-box;
}


.History-Button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.History-choice-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    margin-bottom: 10px;
}

.CloseHistory-btn {
    width: 30px;
    height: 20px;  
    border-radius: 10px;
    border: transparent;
    font-weight: bold;
    color: white;
    background-color: tomato;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}



.CloseHistory-btn:hover {
    background-color: tomato;

    filter: brightness(0.7) contrast(1.2);
}

.ExportHistory-btn {
    width: 300px;   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: transparent;
    font-weight: bold;
    color: white;
    background-color: rgb(84, 175, 64); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.ExportHistory-btn:hover{
   background-color: rgb(64, 141, 47); 
}


.positive {
    color: lightgreen;
    font-weight: bold;

}

.negative {
    color: tomato;
    font-weight: bold;

}

.History-container h2 {
    color: white
}


.History-container h3 {
    -webkit-text-stroke: 0.5px black; 
    color: rgb(240, 210, 36)
}


.history-list::-webkit-scrollbar {
    width: 8px;
}

.history-list::-webkit-scrollbar-track {
    background: #2b3a54;
    border-radius: 10px;
}

.history-list::-webkit-scrollbar-thumb {
    background: #5159ed;
    border-radius: 10px;
}

.history-list::-webkit-scrollbar-thumb:hover {
    background: #3a42c4;
}