.crash-container 
{
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 90vw;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 20px;

  background-image: url('../images/stonks.png'); 
  background-size: cover;  
  background-position: center;
  border-radius: 16px;

  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.9);
  border-radius: 16px;
  overflow: hidden;
  
  padding: 20px 12px;
  box-sizing: border-box;
}

@media (max-width: 600px){
    .crash-container{
        width: 95vw;
        aspect-ratio: auto;
        min-height: auto;
        padding: 12px;
    }
}

.bet-input, .autoStop-input
{  
  width:60px; 
  padding:8px; 
  font-size: 0.8rem;
  padding: 6px;
  background-color: white;
  color: black;
}

.btn-toggle 
{
  min-width: 120px;
  padding: 10px 14px;
  font-size: 0.9rem;
}            

.crash-main 
{
  display: flex;
  flex-direction: row;
  
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  gap: 10px;
  min-height: 150px; 
  max-height: 50vh;
}

.crash-stats {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 120px;
  height: 100%;
}
       
.crash-graph {
  flex: 1;
  width: 100%; 
  background: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  margin-left: 8px;
  box-sizing: border-box;
  position: relative;
}

.bet-row {
  margin-bottom: 12px;
  color: #7ee787;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bet-input {
  width: 75px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  text-align: center;
}

.btn-toggle {
  background-color: #f7c948;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 18px;
  min-width: 150px;
}


.btn-toggle:hover {
  background-color: #f7c948;
  filter: brightness(0.7) contrast(1.2);

}

.crash-message {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  
}

.rules {
  font-size: 0.7rem;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 600px){
    .rules{
      margin-top: 10px;
      font-size: 10px;
    }


}

.crash-container #session,
.crash-container #balance,
.stat-card,
.bet-row,
#control-row {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.crash-container #balance,
.stat-card {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100px;
  border: black solid 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  margin: auto;
  text-align: center;
}

.stat-card {
  background: rgb(84, 175, 64);
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.stat-label {
  text-align: center;
}


html, body {
  min-height: 100%;  
  margin: 0;
  padding: 0;
  background-color: #0f172a; 
  display: flex; 
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
