
.coinflipgame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
 .coinflip-rules {
    color: white;
 }
.game-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-width: 750px;
    height: 350px;
    /* background-color: blueviolet; */
    background-image: url("../images/CoinflipGameBackground.png");
    background-size: 750px 350px;
    background-position: center;
    border-radius: 30px;
    /* border: black solid 2px; */
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);

}
.placeBet-container{
    display: flex;
    flex-direction:row;
    gap: 10px;
}

.game-input {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 200px;
    height: 350px;
    /* background-color: rgb(155, 131, 176); */
    border-radius: 30px;
    /* border: black solid 2px; */
    align-items: center;
margin-top: 10px;
    justify-content: center;
    gap: 10px;
}

#session,
#balance {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#balance {
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100px;
    border: black solid 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.positiv{
    background-color: #54af40;
}

.negativ{
    background-color: tomato;
}

.game-input label {
    font-size: 40px;
    font-weight: bold;
    color: rgb(185, 142, 31);
}

.game-input input {
    width: 75px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    border-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
      background-color: white;
  color: black;
}

.Coin-btns {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; Tilføj border-style og border-width */
  width: 250px;
  height: 100px;
  gap: 10px; 
  justify-content: center; 
  align-items: center; 
}

.Coin-btns button {
  background-color: #68756E;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  height: 40px; /* Juster højden */
  width: 75px;
  font-size: 15px;
}

.Coin-btns button:hover {
  filter: brightness(0.7) contrast(1.2);
}


.selected{
  filter: brightness(0.7) contrast(1.2);
    cursor: not-allowed;

}



.spin-btn:hover {
    background-color: #806B80;
    filter: brightness(0.7) contrast(1.2);

}

.spin-btn {
    background-color:#806B80 ;
}

.button-disabled {
      filter: brightness(0.7) contrast(1.2);
    cursor: not-allowed;
}

.game-action {

    flex: 5;
    border-radius: 30px;
    /* border: black solid 2px; */
    align-items: center;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-perspective: 300px;
    perspective: 300px;
}
